<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/color.css" />
    <link rel="stylesheet" href="/public/css/responsive.css" />
    <link rel="stylesheet" href="/public/css/strip.css" />
    <title>Sign Up Page</title>
  </head>
  <body>
    <div class="theme-layout">
      <div class="container-fluid pdng0">
        <div class="row merged">
          <div class="offset-md-3 col-md-6">
            <div class="login-reg-bg">
              <div class="log-reg-area sign">
                <h2 class="log-title">Signup</h2>

                <form onsubmit="return doRegister(this)" method="POST">
                  <div class="form-group">
                    <input type="text" required name="name" />
                    <label class="control-label">Full Name</label>
                    <i class="mtrl-select"></i>
                  </div>

                  <div class="form-group">
                    <input type="text" required name="username" />
                    <label class="control-label">User Name</label>
                    <i class="mtrl-select"></i>
                  </div>

                  <div class="form-group">
                    <input type="email" required name="email" />
                    <label class="control-label">Email</label>
                    <i class="mtrl-select"></i>
                  </div>

                  <div class="form-group">
                    <input type="password" required name="password" />
                    <label class="control-label">Password</label>
                    <i class="mtrl-select"></i>
                  </div>

                  <div class="form-radio">
                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="gender"
                          value="Male"
                          checked
                        />
                        <i class="check-box"></i> Male
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" name="gender" value="Female" />
                        <i class="check-box"></i> Female
                      </label>
                    </div>
                  </div>

                  <a href="/login">Already have an account</a>
                  <div class="submit-btns">
                    <button class="mtr-btn signup" name="submit" type="submit">
                      <span>Register</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function doRegister(form) {
        form.submit.setAttribute(("disabled", "disabled"));
        form.submit.innerHTML = "<span> LOADING ... </span>";

        const ajax = new XMLHttpRequest();
        ajax.open("POST", "/signup");
        ajax.onreadystatechange = function () {
          if (this.readyState === 4 && this.status == 200) {
            form.submit.removeAttribute("disabled");
            form.submit.innerHTML = "<span>Register</span>";

            var response = JSON.parse(this.responseText);
            alert(response.message);
            console.log("hello u can login now ");
            if (response.status == "success") {
              window.location.href = "/login";
            }
          }
        };

        ajax.send(new FormData(form));
        return false;
      }
    </script>
  </body>
</html>
